
html,
.body1 {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,;
    background-color: #efebe5;
}
@font-face {
  font-family: 'gothamblack';
  src: url('../public/fonts/gotham-black-webfont.woff2') format('woff2'); 
  font-style: normal;

}

a {
  color: inherit;
  text-decoration: none; 
  
}

* {
  box-sizing: border-box;
}
.navbar{
  background-color: #101010 ;
  height: 80px;
  flex-wrap: nowrap;
  
}
#LogoRed{
  width: 130px;
  margin-left: 50px;
  

}
.login{
 color: white;
 margin-left: 20px;
 margin-right: 60px;
 background-color: transparent;
 border: none;
}
.btnSign{
  border: #d72d2e;
  background-color: #d72d2e;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100px;
  border-radius: 30px;
}
.card{
  border: none;
  background-color: transparent;
}
.cardPhone{
  background-color: transparent;
  flex-direction: row-reverse;
}
.cardPhone2{
  background-color: transparent;
}
.card-title{
  font-size: 60px;
  font-family: 'gothamblack'; 
}
.stuck{
  color: #d72d2e;
  font-size: 60px;
}
.stuckP{
  color: #d72d2e;
}
.card-img2{
  border-radius: 60px;
  width: 400px;
  height: 300px;
}
.card-text{
  font-size: 25px;
  font-weight: bold;
}
.text-art{
  margin-top: 70px;
}
.bgblack{
  background-color: #101010;
  margin-top: 100px;
}
 .cardCenter1{
   background-color:transparent;
   flex-direction: row-reverse;
 }
 .cardCenter2{
  background-color: transparent;
 }

 /*sesion1*/

 .body2{
   background-color: #101010;
 }
 .form-group{
   display: flexbox;
   justify-content: center;  
   margin-top: 70px; 
 }
 .generalButton{
   background-color: #d72d2e;
   border: none;
   width: 200px;
   height: 40px;   
   margin-left: 87px;
   margin-top: 50px;
   font-family: 'gothamblack';
   color: white;
 }
 #exampleInputPassword1{
   background-color: #101010;
   border: none;   
 }
 #exampleInputEmail1{
  background-color: #101010;
  border: none;
 }
 .password{
   margin-left: 130px;
   font-family: 'gothamblack';
 }
 .adress{
   margin-left: 95px;
   font-family: 'gothamblack';
 } 
 .small{
   margin-left: 93px;
   margin-top: 10px;   
 }
 .registro{
   color: #E3B38F;
   background-color: transparent;
   border: none;
  text-decoration: underline ;
 }
 #exampleInputEmail2{
  background-color: #101010;
  border: none;
 }
 .sellerForm{
   font-family: 'gothamblack';
 }
 .UserResgisBtn{
   background-color: #d72d2e;
   border: none;
   font-family: 'gothamblack';
   color: white;
   margin-left: 88px;
   width: 200px;
   margin-top: 100px;
   margin-bottom: 225px;

 }